#p3{
	color: red !important;
}

*{
	font-family: verdana, sans-serif;
	fon-size: 15px;
}

/*7. Change the font-size of h1 tags using a type selector.*/
h1{
	font-size: 5.5rem;
}

/*8. Change the text to all uppercase letters for h2 tags using an id selector.*/
#heading-bootcamp{
	text-transform: uppercase;
}

/*9.Change the background colors of the languages to be learn list items using a class selectors.*/
.language{
	background-color: yellowgreen;
}

/*10*/
ol[type="I"] li {
  border-width: 3px;
  border-style: solid;
  border-color: blue;
}


/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector. */
/*CSS Combinator Selectors*/
/*Adjacent Sibling Selector*/
img + ul {
    list-style-type: none;
}

/*12. Change the dimensions of the image tag using a descendant selector.*/
/*Descendant Selector*/
section img {
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/
/*Generic Sibling Selector*/
ul ~ p {
    text-align: center;
}

/*14. Change the letter spacing of the other things to be learned list items using a child selector.*/
/*Child Selector*/
section > ul > li {
    letter-spacing: 10px;
}
